@page
@model Presentation.Pages.Login.Patients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>HỒ SƠ BỆNH ÁN</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.MedicalRecordId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.MedicalRecordId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.BirthDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.BirthDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Phone)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Diagnostic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Diagnostic)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.AttendingDoctorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.AttendingDoctorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MedicalRecord.MedicalRecordId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>